<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <ul>
      <li><a href="/users">All users</a></li>
      <li><a href="/photos"></a>All public photos</li>
      <li><a href="/users"></a>Sign in</li>
      <li><a href="/users"></a>Sign up</li>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
